.container {
  display: flex;
  
  }
  .item {
  background-color: rgb(255, 255, 255);
  width: 1px;
  
  flex-grow: 1;
  height:180px;
  
  }
  .item + .item {
  margin-left: 17%;
  }
  body {
  background-color: rgb(64, 66, 66);
  }
  .meny {
  background-color: rgba(82, 80, 80, 0.747);
  overflow: hidden;
  }
  .meny a {
  float: left;
  color: #9072c0;
  padding: 25px 25px;
  text-decoration: none;
  font-size: 30px;
  }
  .meny a:hover {
  background-color: rgb(199, 223, 196);
  color: rgb(43, 5, 5);
  font-size: 35px;
  }
  h1 {
  font-size: 50px;
  text-align:center;
  }



